/*Vendas*/
body{
   PADDING: 0;
   MARGIN: 0 auto;
   BOX-SIZING: border-box;
   font-family:sans-serif;
    background-color:#C3CBCE;
}

.arrow-container{
    display: flex;
    cursor:pointer;
}

.arrow {
    display: inline-block;
    margin-right: 30px;
    width: 15px;
    height: 15px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
}


.right-arrow {
    transform: rotate(45deg);
}
.left-arrow {
    transform: rotate(-135deg);
}

#flechaEsquerda{
    align-items:flex-end;
    justify-content:flex-end;
}

.tbl-ven{
    z-index: 1;
    border-collapse: collapse;
    border:1px solid black;
    background: #29333C;
    width: 100%;
    text-align: center;
    color: #fff;
}
th{
    font-size: 1.5rem;
    border:1px solid black;
}

td{
    font-size:1.2rem;
    justify-content: space-evenly
}


.fechado{
    display: block;
    margin-right:auto;
}

.barra-up{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.botoes{
    margin-right:auto;
}





.aberto{
    position: absolute;
    z-index: 9999;
    overflow-block:hidden;
    background-color:#C3CBCE;               
    width: 15%;
    height: 100%;
    display:none;
    border:solid black;
}

.btnConteiner{
    margin-top: 320px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

[id^="btn-"]{
    height: 40px;
    width: 200px;
    background-color: #29333C;
    color:#fff;
    border:none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

[id^="btn-"]:hover{
     box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}