<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../CSS/cadastroStyle.css"/>     
        <script src="/JS/MainJS.js"></script>
        <title>Adicionar Itens</title>
    </head>
    <body class="tipo-usuario-[[${tipoUsuario}]]">

        <h1 class="titulo">Adicionar Itens à Venda</h1>

        <div class="top">
            <div class="sp-valorT">
                <span id="txt-vt">Valor total: R$</span>
                <span id="valorTotalVenda">0.00</span> 
            </div>

            <form id="formAdicionarItem">
                <label for="produtoSelect">Produto</label>
                <select id="produtoSelect">
                    <option value="" disabled selected>Selecione um produto</option>
                    <option th:each="produto : ${produtos}" th:value="${produto.id}" th:text="${produto.id + ' - ' + produto.nome + ' - R$' + produto.valor}" th:attr="data-valor=${produto.valor}"></option>
                </select>

                <label for="quantidadeInput">Quantidade</label>
                <input type="number" id="quantidadeInput" name="quantidade" min="1">

                <button id="btn-adicionar" type="button" onclick="adicionarItem()">Adicionar Item</button>
            </form>

            <div class="sp-vendaid">
                <button id="btn-finalizar" type="button" onclick="enviarItens()">Finalizar Venda</button>
                <span id="vid" th:text="${venda.id}"></span>
                <input type="hidden" id="vendaIdInput" name="vendaIdInput" th:value="${venda.id}">
                <span id="txt-id">ID da Venda:</span>
            </div>

            <br>
        </div>

        <table id="itensTable" class="table">
            <thead>
                <tr>
                    <th name="idProduto" id="idProduto">IDP</th>
                    <th>ID</th>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Valor Unitário</th>
                    <th>Valor Total Produto</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <br>

        <script>
            function adicionarItem() {
                var produtoSelect = document.getElementById('produtoSelect');
                var quantidadeInput = document.getElementById('quantidadeInput');

                if (produtoSelect.value && quantidadeInput.value > 0) {
                    var produtoOption = produtoSelect.options[produtoSelect.selectedIndex];
                    var produtoId = produtoOption.value;
                    var produtoNome = produtoOption.text;
                    var quantidade = quantidadeInput.value;
                    var valorUnitario = parseFloat(produtoOption.getAttribute('data-valor'));

                    if (!isNaN(valorUnitario)) {
                        var valorTotalProduto = parseFloat(quantidade) * valorUnitario;

                        adicionarItemNaTabela(produtoId, produtoNome, quantidade, valorUnitario, valorTotalProduto);
                    } else {
                        alert('O valor unitário do produto não é válido.');
                    }
                } else {
                    alert('Por favor, selecione um produto e informe uma quantidade válida.');
                }
            }

            function adicionarItemNaTabela(id, produto, quantidade, valorUnitario, valorTotalProduto) {
                var tabela = document.getElementById('itensTable').getElementsByTagName('tbody')[0];
                var novaLinha = tabela.insertRow();
                var colunaIdProduto = novaLinha.insertCell(0);
                var colunaId = novaLinha.insertCell(1);
                var colunaProduto = novaLinha.insertCell(2);
                var colunaQuantidade = novaLinha.insertCell(3);
                var colunaValorUnitario = novaLinha.insertCell(4);
                var colunaValorTotalProduto = novaLinha.insertCell(5);
                var colunaAcoes = novaLinha.insertCell(6);

                colunaIdProduto.innerHTML = id;
                colunaId.innerHTML = id;
                colunaProduto.innerHTML = produto;
                colunaQuantidade.innerHTML = quantidade;
                colunaValorUnitario.innerHTML = valorUnitario.toFixed(2);
                colunaValorUnitario.innerHTML = valorUnitario.toFixed(2);
                colunaValorTotalProduto.innerHTML = valorTotalProduto.toFixed(2);
                colunaAcoes.innerHTML = '<button id="btn-Excluir" type="button" onclick="removerItem(this)">Remover</button>';

                // Atualiza o valor total da venda
                atualizarValorTotalVenda();
            }

            function atualizarValorTotalVenda() {
                var tabela = document.getElementById('itensTable').getElementsByTagName('tbody')[0];
                var linhas = tabela.getElementsByTagName('tr');
                var total = 0;

                for (var i = 0; i < linhas.length; i++) {
                    var colunas = linhas[i].getElementsByTagName('td');
                    var valorTotalProduto = parseFloat(colunas[5].textContent);

                    if (!isNaN(valorTotalProduto)) {
                        total += valorTotalProduto;
                    }
                }

                document.getElementById('valorTotalVenda').textContent = total.toFixed(2);
            }
            function removerItem(botao) {
                var linha = botao.parentNode.parentNode;
                linha.parentNode.removeChild(linha);
                atualizarValorTotalVenda();
            }

            function enviarItens() {
                var vendaId = document.getElementById('vendaIdInput').value;

                var tabela = document.getElementById('itensTable');
                var linhas = tabela.getElementsByTagName('tr');
                var itensVenda = [];

                for (var i = 1; i < linhas.length; i++) {
                    var linha = linhas[i];
                    var colunas = linha.getElementsByTagName('td');

                    var produtoId = colunas[0].textContent;
                    var quantidade = colunas[3].textContent;
                    var valorUnitario = colunas[4].textContent;
                    var valorTotalProduto = colunas[5].textContent;

                    var itemVenda = {
                        produto: {id: parseInt(produtoId)},
                        quantidade: parseInt(quantidade),
                        valorUnitario: parseFloat(valorUnitario),
                        valorTotalProduto: parseFloat(valorTotalProduto)
                    };

                    itensVenda.push(itemVenda);
                }

                fetch('/venda/adicionarItens?vendaId=' + vendaId, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(itensVenda)
                })
                        .then(response => response.text())
                        .then(data => {
                            console.log('Resposta do servidor:', data);
                        })
                        .catch(error => {
                            console.error('Erro ao enviar itens da venda:', error);
                        });
            }

        </script>
    </body>
</html>
