<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PI-CLIENTES</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/clientesStyle.css}" />  
        <script src="/JS/MainJS.js"></script>
    </head>
    <body>

        <div class="aberto">
            <div class="whole">
                <p class="arrow-container" id="flechaEsquerda"><span class="arrow left-arrow"></span></p>
                <div class="btnConteiner">
                    <a th:href="@{/main}"><button id="btn-main">MAIN</button></a>
                    <a th:href="@{/clientes}"><button id="btn-cliente">CLIENTES</button></a>
                    <a th:href="@{/produtos}"><button id="btn-produto">PRODUTOS</button></a>
                    <a th:href="@{/vendas}"><button id="btn-venda">VENDAS</button></a>
                </div>
            </div>
        </div>

        <div class="barra-up">

            <div class="fechado">
                <p class="arrow-container" id="flechaDireita" ><span class="arrow right-arrow"></span></p>
            </div>



            <div class="botoes">
                <a th:href="@{/clicad}"> <button id="btn-cad">CADASTRAR CLIENTE</button></a>
                <!--<button id="btn-edt">EDITAR CLIENTE</button>-->
                <!--<button id="btn-exc">EXCLUIR CLIENTE</button>-->
            </div>
        </div>
            <table class="tbl-cli">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOME</th>
                        <th>NUMERO</th>
                        <th>EMAIL</th>
                        <th>CPF</th>
                        <th>EDITAR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente : ${clientes}">
                        <td th:text="${cliente.id}"></td>
                        <td th:text="${cliente.nome}"></td>
                        <td th:text="${cliente.numero}"></td>
                        <td th:text="${cliente.email}"></td>
                        <td th:text="${cliente.cpf}"></td>
                        <td><a th:href="@{/editarCliente(id=${cliente.id})}">EDITAR | EXCLUIR</a></td>
                    </tr>
                </tbody>
            </table>
    </body>
</html>
