<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PI-LOGIN</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../CSS/loginStyle.css"/>     
    </head>
    <body>
        <div class="whole">
            <div class="foto">
                <img src="../IMG/dev.svg">
            </div> 
            <div class="campo">
                <div th:if="${param.erro}">
                    Invalid username and password.</div>
                
                <div class="form">
                    <form id="form1" th:action="@{/loginPost}" method="post">
                        <label for="user">Usuário</label>
                        <div>
                        <input type="text" id="user" name="username" placeholder="Username">
                        </div>
                        <label for="sen">Senha</label>
                        <div>
                        <input type="password" id="sen" name="password" placeholder="Password">
                        </div>
                        <input type="submit" form="form1"  value="Log in">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
