<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PI-LOGIN</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/CSS/loginStyle.css}"/>     
    </head>
    <body>
        <div class="aberto">
            <div class="whole">
                <p class="arrow-container" id="flechaEsquerda"><span class="arrow left-arrow"></span></p>
                <div class="btnConteiner">
                    <a th:href="@{/main}"><button id="btn-main">MAIN</button></a>
                    <a th:href="@{/clientes}"><button id="btn-cliente">CLIENTES</button></a>
                    <a th:href="@{/produtos}"><button id="btn-produto">PRODUTOS</button></a>
                    <a th:href="@{/vendas}"><button id="btn-venda">VENDAS</button></a>
                </div>
            </div>
        </div>

        <div class="barra-up">

            <div class="fechado">
                <p class="arrow-container" id="flechaDireita" ><span class="arrow right-arrow"></span></p>
            </div>
        </div>
            <div class="whole">
                <div class="foto">
                    <img src="../IMG/dev.svg">
                </div> 
                <div class="campo">
                    <div class="form">
                        <form id="form1" th:action="@{/login}" method="post">
                            <label for="user">Usuário</label>
                            <input type="text" id="user" name="user">

                            <label for="sen">Senha</label>
                            <input type="password" id="sen" name="sen">

                            <button type="submit" form="form1" value="Submit">Login</button>
                            <div th:if="${not #strings.isEmpty(error)}" class="error" th:text="${error}"></div>
                        </form>

                    </div>
                </div>
            </div>
    </body>
</html>
