<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PI-PRODUTOS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/JS/MainJS.js"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/CSS/produtosStyle.css}"/>     
    </head>
    <body class="tipo-usuario-[[${tipoUsuario}]]">

        <div class="aberto">
            <div class="whole">
                <p class="arrow-container" id="flechaEsquerda"><span class="arrow left-arrow"></span></p>
                <div class="btnConteiner">
                    <a th:href="@{/main}"><button id="btn-main">MAIN</button></a>
                    <a th:href="@{/clientes}"><button id="btn-cliente">CLIENTES</button></a>
                    <a th:href="@{/produto/produtos}"><button id="btn-produto">PRODUTOS</button></a>
                    <a th:href="@{/venda/vendas}"><button id="btn-venda">VENDAS</button></a>
                </div>
            </div>
        </div>
        <div class="barra-up">
            <div class="fechado">
                <p class="arrow-container" id="flechaDireita" ><span class="arrow right-arrow"></span></p>
            </div>

            <div class="botoes">
                <a  th:href="@{/produto/procad}"><button id="btn-cad">CADASTRAR PRODUTO</button></a>
            </div>
        </div>

        <div class="tabela">
            <table class="tbl-prod">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOME</th>
                        <th>QUANTIDE</th>
                        <th>VALOR</th>
                        <th>DETALHES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="produto : ${produtos}">
                        <td th:text="${produto.id}"></td>
                        <td th:text="${produto.nome}"></td>
                        <td th:text="${produto.quantidade}"></td>
                        <td th:text="${produto.valor}"></td>
                        <td>
                            <a th:href="@{/produto/editarProduto(id=${produto.id})}">EDITAR / EXCLUIR</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    <script>

    </script>
</body>
</html>
