<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PI-VENDAS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/JS/MainJS.js"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/CSS/vendasStyle.css}"/>     
    </head>
    <body>
        
        <div class="aberto">
            <div class="whole">
                <p class="arrow-container" id="flechaEsquerda"><span class="arrow left-arrow"></span></p>
                <div class="btnConteiner">
                    <a th:href="@{/main}"><button id="btn-main">MAIN</button></a>
                    <a th:href="@{/clientes}"><button id="btn-cliente">CLIENTES</button></a>
                    <a th:href="@{/produtos}"><button id="btn-produto">PRODUTOS</button></a>
                    <a th:href="@{/vendas}"><button id="btn-venda">VENDAS</button></a>
                </div>
            </div>
        </div>
        <div class="barra-up">
            
            <div class="fechado">
                <p class="arrow-container" id="flechaDireita" ><span class="arrow right-arrow"></span></p>
            </div>
            
            <div class="botoes">
                <button id="btn-cad">CADASTRAR VENDA</button>
                <button id="btn-insp">INSPECIONAR VENDA</button>
                <button id="btn-exc">EXCLUIR VENDA</button>
                <button id="btn-rel">RELATORIO</button>
            </div>
        </div>
        <div class="tabela">
            <table class="tbl-ven">
                <tr>
                    <th>ID</th>
                    <th>NOME CLIENTE</th>
                    <th>NOME VENDA</th>
                    <th>VALOR</th>
                    <th>DATA</th>
                </tr>
                <tr>
                    <td>01</td>
                    <td>Cleber</td>
                    <td>Venda 01</td>
                    <td>200.00</td>
                    <td>14/02/2024</td>
                </tr>
            </table>
        </div>
    </body>
</html>
